#category-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding: 2rem;
	padding-top: 0rem;
	@include respond-to(print) {
		margin-top: 0rem;
	}
	@include respond-to(small) {
		padding: 1rem;
		padding-top: 0rem;
	}
}

.category {
	width: calc(100% - 11rem);
	@include respond-to(print) {
		width: 100%;
		margin-bottom: 0rem;
	}
	@include respond-to(small) {
		width: 100%;
		margin-bottom: 0rem;
	}
}

.cat-title {
	font-size: 1.8rem;
	margin-top: 1rem;
	padding: 0.2rem;
	padding-left: 0rem;
	@include respond-to(print) {
		border: 0px solid black;
		border-bottom-width: 1px;
	}
}
