#menu {
	margin-top: 0.5rem;
	position: absolute;
	width: 10rem;
	height: 10.5rem;
	top: 12rem;
	left: calc(100% - 12rem);
	@include respond-to(print) {
		display: none;
	}
	@include respond-to(small) {
		display: none;
	}
}

.static-menu {
	position: fixed !important;
	top: 1rem !important;
}

.menu-entry {
	font-size: 1rem;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	background-color: $accent-light;
	cursor: pointer;
	border: 1px solid white;
	&:hover {
		background-color: yellow;
		border-color: black;
	}
}
