@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
*:not(ul, li) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: default;
  user-select: none;
  box-sizing: border-box; }

html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', Verdana, sans-serif;
  transition: font-size 0.5s; }
  @media only print {
    html {
      font-size: 20px; } }
  @media only screen and (max-device-width: 460px), only screen and (min-device-width: 1024px) and (max-width: 1129px) {
    html {
      font-size: 15px; } }
  @media only screen and (min-device-width: 461px) and (min-width: 461px) and (max-width: 1129px) {
    html {
      font-size: 20px; } }
  @media only screen and (min-device-width: 1024px) and (min-width: 1130px) {
    html {
      font-size: 25px; } }

body {
  margin: 0;
  height: 100%;
  position: relative;
  background-color: #B0C4DE; }
  @media only print {
    body {
      background-color: white; } }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

@media only print {
  .card-title, a, li, p {
    page-break-inside: avoid; } }

#header {
  background-color: #F2CB05;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  transition: padding-top 0.5s, height 0.5s;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5); }
  @media only print {
    #header {
      padding-top: 2rem;
      padding-bottom: 0rem;
      background-color: #E9F2EF; } }
  @media only screen and (max-device-width: 460px), only screen and (min-device-width: 1024px) and (max-width: 1129px) {
    #header {
      padding-top: 1rem;
      position: relative; } }
  @media only screen and (min-device-width: 461px) and (min-width: 461px) and (max-width: 1129px) {
    #header {
      padding-top: 2rem;
      position: relative; } }

div#header.smaller {
  padding-top: 0.1rem;
  height: 2rem; }

#header-title {
  color: black;
  font-size: 3rem;
  height: 4rem;
  margin-left: 2rem;
  transition: width 0.5s; }
  @media only print {
    #header-title {
      color: black; } }
  @media only screen and (min-device-width: 461px) and (min-width: 461px) and (max-width: 1129px) {
    #header-title {
      width: 100%; } }
  @media only screen and (max-device-width: 460px), only screen and (min-device-width: 1024px) and (max-width: 1129px) {
    #header-title {
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem; } }

div#header-title.smaller {
  font-size: 2rem;
  flex-grow: 1; }

#header-menu {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  margin-right: 2rem;
  transition: width 0.5s; }
  @media only screen and (min-device-width: 461px) and (min-width: 461px) and (max-width: 1129px) {
    #header-menu {
      width: 50%; } }
  @media only screen and (max-device-width: 460px), only screen and (min-device-width: 1024px) and (max-width: 1129px) {
    #header-menu {
      width: 100%;
      height: 1.5rem;
      margin-left: 1rem;
      margin-right: 1rem; } }

div#header-menu.smaller {
  padding-top: 0.8rem; }

#menu-spacing {
  flex-grow: 1; }

div#menu-spacing.smaller {
  flex-grow: 0;
  background-color: blue; }

#menu-container {
  display: flex;
  position: relative;
  margin-bottom: 0.5rem;
  flex-flow: row wrap;
  justify-content: flex-end;
  color: black; }
  @media only screen and (max-device-width: 460px), only screen and (min-device-width: 1024px) and (max-width: 1129px) {
    #menu-container {
      margin-bottom: 0rem;
      justify-content: flex-start; } }
  @media only screen and (min-device-width: 461px) and (min-width: 461px) and (max-width: 1129px) {
    #menu-container {
      justify-content: flex-start; } }

.menu-item {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media only screen and (min-device-width: 461px) and (min-width: 461px) and (max-width: 1129px) {
    .menu-item {
      flex-grow: 1; } }
  @media only screen and (max-device-width: 460px), only screen and (min-device-width: 1024px) and (max-width: 1129px) {
    .menu-item {
      flex-grow: 1; } }

.menu-item:hover {
  text-decoration: underline; }

#about-link {
  text-decoration: underline; }

@media only screen and (max-device-width: 460px), only screen and (min-device-width: 1024px) and (max-width: 1129px) {
  #header-space {
    display: none; } }

@media only screen and (min-device-width: 461px) and (min-width: 461px) and (max-width: 1129px) {
  #header-space {
    display: none; } }

@media only screen and (min-device-width: 1024px) and (min-width: 1130px) {
  #header-space {
    display: block; } }

@media only print {
  #header-space {
    display: block; } }

.content {
  background-color: white;
  width: calc(100% - 6rem);
  margin: 0 auto;
  border: 2rem solid white; }
  @media only screen and (min-device-width: 461px) and (min-width: 461px) and (max-width: 1129px) {
    .content {
      width: calc(100% - 2rem); } }
  @media only screen and (max-device-width: 460px), only screen and (min-device-width: 1024px) and (max-width: 1129px) {
    .content {
      width: calc(100% - 2rem);
      border: 1rem solid white; } }

.card {
  width: 100%;
  border: 0px solid gray;
  border-bottom-width: 2px;
  box-sizing: border-box; }

#projects {
  display: none; }

#contact {
  display: none; }

img {
  max-width: 100%;
  object-fit: contain;
  border: 2px solid black; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
