.cat-content {
	padding: 1.5rem;
	background-color: white;
	margin-bottom: 1rem;
	.card-title {
		margin: 0px;
		font-size: 1.3rem;
		line-height: 1.3rem;
	}
	a {
		color: blue;
		font-size: 0.6rem;
	}
	@include respond-to(print) {
		padding: 0rem;
		a {
			font-size: 0.8rem;
		}
	}
	@include respond-to(small) {
		padding: 1rem;
		a {
			font-size: 0.8rem;
		}
	}
}

p {
	font-size: 0.8rem;
	@include respond-to(small) {
		margin-top: 0.5rem;
	}
}

ul {
	margin: 0;
	font-size: 0.8rem;
	@include respond-to(small) {
		padding-left: 1.2rem;
	}
}
