.cat-content {
	padding: 1.5rem;
	background-color: white;
	margin-bottom: 1rem;
	h3 {
		margin: 0px;
		font-size: 1.3rem;
		line-height: 1.3rem;
	}
	a {
		color: blue;
		font-size: 0.6rem;
	}
}

p {
	font-size: 0.8rem;
}

ul {
	margin: 0;
	font-size: 0.8rem;
}
