#category-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 2rem;
	@include respond-to(small) {
		margin-top: 1rem;
	}
}

.category {
	margin-bottom: 1rem;
	width: calc(100% - 11rem);
	@media only print {
		width: 100%;
	}
	@include respond-to(small) {
		width: 100%;
		margin-bottom: 0rem;
	}
}

.cat-title {
	color: $accent-dark;
	font-size: 1.8rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0.2rem;
	padding-left: 0rem;
	@include respond-to(small) {
		margin-top: 0rem;
	}
}
