#header {
	background-color: #02779e;
	padding-top: 4rem;
	padding-left: 2rem;
	padding-bottom: 1rem;
	width: 100%;
	@include respond-to(print) {
		padding-top: 2rem;
		padding-bottom: 0rem;
		background-color: white;
	}
	@include respond-to(small) {
		padding-left: 1rem;
	}
}

#title {
	color: white;
	font-size: 3rem;
	@include respond-to(print) {
		color: black;
	}
}

#contact-info {
	color: black;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding: 0.5rem;
	padding-left: 2rem;
	background-color: $accent-dark;
	& a {
		margin-right: 1rem;
		cursor: pointer;
		font-size: 0.8rem;
		@include respond-to(medium) {
			font-size: 0.8rem !important;
		}
		@include respond-to(small) {
			font-size: 1rem;
			margin-right: 1rem;
		}
	}
	& a:hover {
		background-color: yellow;
	}
	@include respond-to(print) {
		background-color: white;
	}
	@include respond-to(small) {
		padding-left: 1rem;
		margin-right: 0rem !important;
		display: block;
	}
}
