#header {
	color: $accent-dark;
	padding-bottom: 1rem;
}

#title {
	font-size: 3rem;
}

#contact-info {
	color: black;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding: 0.5rem;
	background-color: $accent-light;
	& a {
		margin-right: 1rem;
		cursor: pointer;
		font-size: 0.8rem !important;
	}
	@include respond-to(small) {
		display: block;
		& a {
			font-size: 1rem !important;
		}
	}
}
