#menu {
	margin-top: 0.5rem;
	position: absolute;
	width: 10rem;
	height: 10.5rem;
	top: 13rem;
	right: 3rem;
}

.menu-entry {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	background-color: white;
	border: 0px solid black;
	border-bottom-width: 1px;
}
