#menu {
	margin-top: 0.5rem;
	position: absolute;
	width: 10rem;
	height: 10.5rem;
	top: 17.5rem;
	right: 4rem;
	@media only print {
		display: none;
	}
	@include respond-to(small) {
		display: none;
	}
}

.static-menu {
	position: fixed !important;
	top: calc(4.5rem - 2px) !important;
	right: calc(4.5rem - 1px)!important;
}

.menu-entry {
	font-size: 1rem;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	background-color: white;
	cursor: pointer;
	border: 0px solid white;
	border-bottom-width: 1px;
	&:hover {
		background-color: yellow;
		border-color: black;
	}
}
